.*.*
*.o
*.wasm
*.a
asset.S
asset.cpio
onehandclap
onehandclap.js
onehandclap.html
test
test.js
test.html
compile_commands.json
.cache
.vscode
.DS_Store
dev-key.pem
dev-cert.pem
patches/
build/
deps/src/
*~
