[submodule "ode"]
	path = deps/ode
	url = git@github.com:virtuoso/ode.git
[submodule "demo/ldjam56/asset"]
	path = demo/ldjam56/asset
	url = git@github.com:virtuoso/ldjam56-asset.git
[submodule "demo/ldjam57/asset"]
	path = demo/ldjam57/asset
	url = git@github.com:virtuoso/ldjam57-asset.git
