name: macos-build
on: [push]
jobs:
  build-macos:
    runs-on: macos-15
    env:
      remote_host: ${{ secrets.REMOTE_DEPLOY_HOST }}
      team_id: ${{ secrets.MACOS_DEV_TEAM_ID }}
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: Fetch tags
        run: git fetch --force --prune --unshallow --tags
      - name: submodules
        run: |
          git config --global url."https://github.com/".insteadOf "git@github.com:"
          git submodule update --init --recursive --depth 1
      - name: install-cert
        if: ${{ env.team_id }}
        run: |
          echo "${{ secrets.MACOS_DEV_ID_P12 }}" | base64 --decode > clap_dev_id.p12
          security create-keychain -p temp_pass build.keychain
          security import clap_dev_id.p12 -k build.keychain -P "${{ secrets.MACOS_DEV_ID_P12_PASSWORD }}" -T /usr/bin/codesign
          security list-keychains -d user -s build.keychain login.keychain
          security default-keychain -s build.keychain
          security unlock-keychain -p temp_pass build.keychain
      - name: install-deps
        run: |
          brew install glew zlib glfw shaderc spirv-cross
      - name: configure
        run: |
          cd ${{ github.workspace }}
          touch build_config
          echo opts=\"--parallel 3\" >> build_config
          if [ -n "${{ env.team_id }}" ]; then
            echo CLAP_OPTS=\"-DCMAKE_INSTALL_PREFIX:FILEPATH=./clap/${GITHUB_REF##*/}/macos -DCLAP_MACOS_DEV_TEAM_ID=${{ env.team_id }}\" >> build_config
            cat build_config
          else
            echo CLAP_OPTS=\"-DCMAKE_INSTALL_PREFIX:FILEPATH=./clap/${GITHUB_REF##*/}/macos\" >> build_config
            echo "No team_id"
          fi
          sh -x ./configure.sh
          cmake --preset=mtltest
          cmake --preset=mtldebug
      - name: build
        run: |
          cd ${{ github.workspace }}
          ./build.sh
          cmake --build build/mtltest --parallel 3
          cmake --build build/mtldebug --parallel 3
          cmake --install build/rel --prefix="$GITHUB_WORKSPACE/clap/${{ github.ref_name }}/macos/rel"
          cmake --install build/test --prefix="$GITHUB_WORKSPACE/clap/${{ github.ref_name }}/macos/test"
          cmake --install build/debug --prefix="$GITHUB_WORKSPACE/clap/${{ github.ref_name }}/macos/debug"
          git config --global --unset url."https://github.com/".insteadOf
      - name: Deploy to Server
        uses: easingthemes/ssh-deploy@main
        if: ${{ env.remote_host }}
        with:
          SSH_PRIVATE_KEY: ${{ secrets.REMOTE_DEPLOY_KEY }}
          ARGS: "-rlzvc -i"
          SOURCE: "clap/"
          REMOTE_HOST: ${{ secrets.REMOTE_DEPLOY_HOST }}
          REMOTE_USER: ${{ secrets.REMOTE_DEPLOY_USER }}
          TARGET: ${{ secrets.REMOTE_DEPLOY_TARGET }}
